body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-width: 100%;
}

header img {
    width: 80%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

header h1 {
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
}

header p {
    text-align: center;
    font-size: 1.2em;
}

button {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #002060;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #001040;
}

.container {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.event-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
}

.event-title {
    font-size: 1.3em;
    color: #002060;
    text-decoration: none;
    font-weight: bold;
}

.event-title:hover {
    color: #001040;
}

@media screen and (max-width: 600px) {
    h1, h2, h3 {
        font-size: 1.2em;
    }

    .event-box {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 18px;
    }
}
