body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    margin-top: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 2.5em;
    color: #002F6C;
}

p {
    font-size: 1.1em;
}

.events-section {
    margin-top: 20px;
}

.events-button {
    background-color: #002F6C;
    color: white;
    padding: 15px 30px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 30px;
    font-size: 1.2em;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.events-list {
    display: inline-block;
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

.event {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.event h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.event p {
    margin: 0;
    font-size: 1.2em;
}
