/* General Styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.logo {
    width: 150px; /* Increase this size */
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #002366;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
    color: #333;
}

.event-button {
    background-color: #002366;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.event-button:hover {
    background-color: #004080;
}

.updates {
    margin-top: 20px;
}

h2 {
    font-size: 1.8rem;
    color: #002366;
}

.update {
    background-color: #f9f9f9;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.update h3 {
    color: #c8102e;
    font-size: 1.5rem;
}

.update p {
    color: #000;
}

footer {
    background-color: #002366;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
}
